/* ----------- FEATURE STYLES ------------- */

section.feature.zero-height {
  max-height: 0px;
  border: 0px;
}

section.feature.transitioning {
  max-height: 0px;
  transition: max-height 0.42s cubic-bezier(0.92, 0.06, 0.86, 0.84);
}

section.feature {
  width: -moz-calc(50% - 63px);
  width: -webkit-calc(50% - 63px);
  width: calc(50% - 63px);

  max-height: -moz-calc(100% - 30px);
  max-height: -webkit-calc(100% - 30px);
  max-height: calc(100% - 30px);

  transition: max-height 0.42s cubic-bezier(0.86, 0.04, 0.21, 1.01);

  left: 20px;
  margin: 10px 10px 10px 0px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #8B9CAF;
  border-right: 1px solid #8B9CAF;
  border-bottom: 1px solid #8B9CAF;
}

div.task-details {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

div.task-details div.task-assignments {
  background: #F2F2F2;
  position: relative;
  top: -10px;
  left: -10px;
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  padding: 5px 15px;
  height: 30px;
  border-bottom: 2px solid #E5E5E5;
}

div.task-details ul.task-assignment-items > p {
  display: block;
  float: left;
  color: #596573;
  padding: 7px 10px 7px 0px;
  font-size: 13px;
}

div.task-details ul.task-assignment-items > a {
  display: block;
  float: left;
  color: #A4A4A4;
  padding: 7px 10px 7px 0px;
  font-size: 13px;
  transition: font-size 0.05s, padding 0.05s;
  cursor: pointer;
}

div.task-details ul.task-assignment-items > a:hover {
  color: #114D97;
  padding: 6px 10px 8px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

div.task-details ul.task-assignment-items > li {
  display: block;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}

div.task-details textarea {
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px 10px;
}

div.task-details textarea:hover {
  border: 1px solid #DDD;
  box-shadow: 0px 0px 5px 0px #DDD;
}

div.task-details textarea:focus {
  border: 1px solid #60B2EB;
}

div.task-details .task-title > textarea {
  font-size: 24px;
  font-weight: 300;
  width: 90%;
  overflow: hidden;
  margin-bottom: 5px;
  height: 54px;
}

div.task-details .task-description > textarea {
  font-size: 14px;
  width: 90%;
}

div.task-details textarea.blank-description {
  color: #C1C1C1;
}

div.comments-index-container {
  padding: 0px 45px 0px 15px;
}

div.comments-index p.no-comments-message {
  color: #C1C1C1;
  margin: 15px 0px 15px 30px;
  font-size: 14px;
}

div.task-comments li div.comment-item-text-container {
  display: block;
  float: left;
  width: -moz-calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  line-height: 1.4;
}

li.comments-index-item {
  margin: 15px 0px;
}

li.comments-index-item p {
  float: left;
  display: block;
  width: 100%;
  float: left;
  font-size: 14px;
}

li.comments-index-item strong.author-name {
  float: left;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}

li.comments-index-item small.timestamp {
  float: left;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #aaa;
  margin-top: 2px;
}

li.comments-index-item div.comment-deletion {
  display: block;
  position: absolute;
  right: 30px;
  font-size: 24px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  color: #ccc;
}

li.comments-index-item div.comment-deletion:hover {
  color: darkblue;
}

div.task-comments form.new-comment {
  background: #F5F9FC;
  padding: 15px;
}

div.task-comments textarea {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  width: 270px;
  padding: 7px;
  margin-bottom: 10px;
}

div.task-comments textarea:focus {
  border: 1px solid #60B2EB;
}

div.task-comments form button {
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
  margin-left: 40px;
}
