div.main-container-squared {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  height: -moz-calc(100% - 106px);
  height: -webkit-calc(100% - 106px);
  height: calc(100% - 106px);
  overflow-x: auto;
}
/* PH** - need this extra div nest to scroll left and right */

div.main-container {
  /*PH - need sidebar + main-container float left if want next to each other*/
  position: relative;
  width: 100%;
  min-width: 880px;
  height: 100%;
  background: #BECEDE;
  /*C8D8E8*/
}

div.main-container > section {
  float: left;
  background: white;
  position: relative;
  overflow-y: auto;
}
