<h1>Project Name</h1>

<form class="project-edit">
  <input type="text"
         name="project[code_name]"
         value="<%= project.escape('code_name') %>">
  <button class="change-project green-button">Commit Changes</button>
</form>

<div class="project-deletion group">
  <button class="delete-project">Delete Project</button>
  <p class="deletion-warning">
    Caution: deleting this project will delete all associated tasks!
  </p>
</div>
