<form class="team-edit" action="index.html" method="post">
  <input type="text"
         name="team[moniker]"
         value="<%= team.escape('moniker') %>">
  <button class="save-edits">Save</button>
</form>

<!-- PH** - implement a search-bar here later, custom ajax for the search querying -->
