<div class="sidebar">

  <content class="sidebar-title">
    <%= team.escape('moniker') %>
  </content>

  <ul class="team-member-item">
  </ul>

  <content class="sidebar-title">
    Projects
  </content>

  <div class="projects-index">

  </div>

</div>

<div class="centerpiece">

</div>

<div class="feature">

</div>
