
div.modal div.task-assignment,
div.modal div.team-designation {
  width: 500px;
}

div.modal > div h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

div.modal > div h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 10px 5px 10px;
}

div.modal > div ul {
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #EFEFEF;
  margin-top: 5px;
}

li.new-assigned-user-item,
li.search-result-item {
  display: block;
  cursor: pointer;
}

li.new-assigned-user-item:hover,
li.search-result-item:hover {
  background: #E9FFED;
  transition: background 0.15s;
}

li.new-assigned-user-item *,
li.search-result-item * {
  display: block;
  float: left;
}

div.modal ul.current-member-items,
div.modal ul.current-assigned-user-items {
  max-height: 200px;
  overflow-y: auto;
}

div.modal ul div.user-name,
div.modal ul div.user-detail,
div.modal ul div.user-email {
  display: block;
  float: left;
  margin: 5px 10px;
  font-weight: 300;
}

div.modal ul figure {
  display: block;
  float: left;
}

div.modal ul strong.icon {
  float: right;
  cursor: pointer;
  margin: 5px;
  transition: color 0.35s;
}

div.modal ul strong.icon:hover {
  color: #355BB5;
}

div.modal ul div.user-email {
  font-style: italic;
}

div.modal li,
div.modal li {
  padding: 5px 10px;
}

div.modal input.filter {
  padding: 3px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-bottom: 3px;
  margin-left: 10px;
  width: 350px;
}

div.modal input.filter:hover {
  border: 1px solid #ccc;
}

div.modal input.filter:focus {
  border: 1px solid #60B2EB;
}
