<%= Trak.Utils.modalHook() %>

<div class="sign-in-cover"></div>

<div class="sign-in-background"></div>

<div class="sign-in-container">
  <div class="sign-in-content">

    <h1 class="noselect">Traksana</h1>

    <div class="error-message hidden">
      Sorry, I couldn't find that email and password combo!
    </div>

    <form class="user-sign-in" action="/sessions" method="post">
      <input type="hidden" name="authenticity_token">
      <div class="email-input group">
        <input id="email"
               type="text"
               name="user[email]"
               autocomplete="off"
               placeholder="Email">
      </div>
      <div class="password-input group">
        <input id="password"
               type="password"
               name="user[password]"
               autocomplete="off"
               placeholder="Password">
      </div>
      <button class="sign-in">Sign In</button>
    </form>

    <form class="guest-login" action="/sessions/sign_in_guest" method="post">
      <input type="hidden" name="authenticity_token">
      <button class="guest-sign-in">Guest Sign In</button>
    </form>

    <p>
      Not a member?
      <a class="create-new-user">Register New User</a>
    </p>

    <p>
      Or <a href="/auth/facebook">Log in with Facebook</a>
    </p>

  </div>
</div>
