<h2>
  Buckle up!
</h2>

<form class="user-registration"
      action="/users"
      method="post"
      enctype="multipart/form-data">

  <input type="hidden" name="authenticity_token">

  <div class="name input-field group">
    <label for="name">Name</label>
    <input id="name" type="text" name="user[name]" autocomplete="off">
  </div>

  <div class="email input-field group">
    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]" autocomplete="off">
  </div>

  <div class="password input-field group">
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" autocomplete="off">
  </div>

  <div class="avatar input-field group">
    <label for="input-post-image">Avatar</label>
    <input type="file" name="user[avatar]" id="input-post-image">
  </div>

  <button class="green-button">Sign Up</button>
</form>
