<figure class="avatar">
  <img src="<%= user.escape('avatar') %>"
       alt="<%= Trak.Utils.imageName(user) %>" />
  <div class="tooltip-tip">
  </div>
  <div class="tooltip-content">
    <strong><%= user.escape('name') %></strong>
  </div>
</figure>
