<form class="new-team">
  <label for="team-name">Create Team</label>
  <input id="team-name"
         type="text"
         name="team[moniker]"
         value="<%= team.escape('moniker') %>"
         placeholder="New team name...">
  <button class="submit-form green-button">Submit</button>
</form>
