<strong class='task-completion'>
  <div class="completion-icon">
  </div>
</strong>

<strong class='task-assignment'>
  <div class="assignment-icon">☻</div>
</strong>

<form class="task-form">
  <input class="task-title-input"
         type="text" name="task[title]"
         value="<%= task.escape('title') %>">
</form>

<strong class='task-deletion'>
  <div class="deletion-icon">✘</div>
</strong>
