<strong class='task-completion'>
  <div class="completion-icon">
  </div>
</strong>
<!-- U+25A2 -->

<form class="task-form">
  <input class="task-title-input"
         type="text" name="task[title]"
         value="<%= task.escape('title') %>">
</form>
