<strong class='task-completion'>▢</strong>
<!-- U+25A2 -->
<div class="task-title">
  <form class="" action="index.html" method="post">
    <input class="task-title-input"
           type="text" name="task[title]"
           value="Add the next task here">
  </form>
</div>
