<h4 class='new-comment-title'></h4>

<form class="new-comment group">
  <%= Trak.Utils.userAvatar(Trak.currentUser) %>

  <textarea name="comment[content]" placeholder="Write a comment..."></textarea>
  <button class="submit-new-comment green-button">Submit</button>
</form>
