<h4 class='new-comment-title'></h4>

<form class="new-comment">
  <textarea name="comment[content]" placeholder="Write a comment..."></textarea>
  <button class="submit-new-comment green-button">Submit</button>
</form>
