<% users.each( function(user) { %>
  <li class="search-result-item group" data-user-id="<%= user.id %>">
    <%= Trak.Utils.userAvatar(user) %>

    <div class="user-name">
      <%= user.escape('name') %>
    </div>

    <div class="user-email">
      <%= user.escape('email') %>
    </div>
  </li>
<% }) %>
