<h2>Current members</h2>

<ul class="current-member-items">
  <% users.each( function(user) { %>
    <li class="current-member-item group" data-user-id="<%= user.id %>">

      <%= Trak.Utils.userAvatar(user) %>

      <div class="user-name">
        <%= user.escape('name') %>
      </div>

      <strong class="delete-designation icon"
              data-user-id="<%= user.id %>">
        ✖
      </strong>

    </li>
  <% }) %>
</ul>
