<div class="task-assignments">

</div>

<form class="task-title">
  <textarea id="feature-task-title" name="task[title]"><%= task.escape('title') %></textarea>
</form>

<form class="task-description" action="index.html" method="post">
  <textarea id="feature-task-description" name="task[description]"><%= task.escape('description') %></textarea>
</form>
