<ul class="tasks-teams-container">
  <li class="team-select">SELECT TEAM</li>
  <li class="my-tasks">MY TASKS</li>
  <li class="my-projects">MY PROJECTS</li>
</ul>

<input class="search-box">

<div class="user-container">

</div>
