<ul class="tasks-teams-container">
  <li class="team-selection">
    <a class="back-to-team-select" href="#/">BACK TO TEAMS</a>
    <div class="team-select-container"></div>
  </li>
  <li class="my-tasks">MY TASKS</li>
</ul>

<input class="search-box" placeholder="Search...">

<div class="user-container">

</div>
