<ul class="user-container-items">
  <li class="sign-out">
    <button class="sign-out">Sign out</button>
  </li>
  <li class="user-name">
    <div class="user-name-display"><%= currentUser.escape('email') %></div>
  </li>
</ul>
