<div class="user-container">
  <ul class="user-container-items">
    <li class="user-name">
      <div class="user-name-display"><%= currentUser.escape('email') %></div>
    </li>
    <li class="sign-out">
      <button>Sign out</button>
    </li>
  </ul>
</div>
