<section class="sidebar master">
</section>

<section class="navbar master">
</section>

<section class="headerbar master">
</section>


<div class="main-container master group">

  <section class="centerpiece master hidden">
  </section>

  <section class="feature master hidden">
  </section>

</div>
