<%= Trak.Utils.modalHook() %>

<section class="sidebar master noselect">
</section>

<div class="primary-sections">

  <section class="navbar master noselect">
  </section>

  <section class="titlebar master">
  </section>

  <div class="main-container master group">

    <section class="centerpiece master hidden">
    </section>

    <section class="feature master zero-height">
    </section>

  </div>

</div>
