<section class="sidebar master">
</section>

<div class="main-container master group">
  <section class="centerpiece master">
  </section>

  <section class="feature master">
  </section>

  <section class="single-pane">
  </section>
</div>
