<div class="modal-cover hidden"></div>

<section class="sidebar master">
</section>

<div class="primary-sections">

  <section class="navbar master">
  </section>

  <section class="titlebar master">
  </section>

  <div class="main-container master group">

    <section class="centerpiece master hidden">
    </section>

    <section class="feature master hidden">
    </section>

  </div>

</div>
