<section class="sidebar">

  <h4 class="sidebar-title">
    <%= team.escape('moniker') %>
  </h4>

  <ul class="team-member-items">
  </ul>

  <h4 class="sidebar-title">
    PROJECTS
  </h4>

  <div class="projects-index">

  </div>

</section>

<section class="centerpiece">

</section>

<section class="feature">

</section>
