<% if (project) { %>
  <h3 class="project-codename">
    <%= project.escape('code_name') %>
    <i class="fa fa-pencil-square edit-project"></i>
  </h3>
  <h4 class="project-subheading">
    <%= currTeamMoniker %>
  </h4>
<% } else { %>
  <h3 class="project-codename">
    <%= currTeamMoniker %>
  </h3>
  <h4 class="project-subheading">
    Create or select a project in the sidebar to get started...
  </h4>
<% } %>
