<button class="reveal-form">×</button>

<form class="new-project hidden">
  <input type="text"
         name="project[code_name]"
         value="<%= project.escape('code_name') %>"
         placeholder="New project name...">

  <button>Submit</button>
</form>
