<button class="reveal-form">&#10133;</button>

<form class="new-project hidden">
  <input type="text"
         name="project[code_name]"
         value="<%= project.escape('code_name') %>">

  <button>Submit</button>
</form>
