<%= task.escape('title') %>

Currently assigned...
<ul class="current-assigned-user-items">

</ul>

Add new...
<div class="new-assigned-users">

</div>
On submit, tallies together all IDs, and gets them out...

<button class="commit-changes">Commit</button>
