figure.avatar {
  position: relative;
  display: block;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;

  width: 28px;
  height: 28px;
}

figure.avatar > img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}

ul.team-member-items {
  display: block;
  margin-bottom: 5px;
  width: 234px;
  margin-left: 15px;
}

ul.team-member-items > li {
  float: left;
  display: block;
  font-size: 10px;
  cursor: pointer;
  padding: 0px 10px 5px 0px;
}

ul.team-member-items figure.avatar {
  margin: 0px;
  float: left;
}

ul.task-items div.assignment-icon figure {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 2px;
}

ul.team-member-items figure.avatar:hover,
ul.task-items div.assignment-icon figure:hover,
section.feature ul.task-assignment-items figure.avatar:hover {
  opacity: .55;
  transition: opacity 0.05s;
}

section.navbar figure.avatar {
  float: left;
}

div.task-comments figure {
  margin-right: 10px;
  margin-top: 2.5px;
  float: left;
}

form.new-comment figure {
  float: left;
}
