div.sign-in-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url("wood_office_large.jpg");
  background-size: 100% 100%;
}

div.sign-in-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7F7F7F;
  opacity: 0.25;
}

div.sign-in-container {
  position: relative;
  display: block;
  margin: auto;
  // opacity: 0.75;
  background: white;
  // font-weight: 300;

  border-radius: 5px;

  width: 440px;

  top:-moz-calc(30%);
  top: -webkit-calc(30%);
  top: calc(30%);
  max-height: -moz-calc(100% - 100px);
  max-height: -webkit-calc(100% - 100px);
  max-height: calc(100% - 100px);
  padding: 20px;
}

div.sign-in-content > h1 {
  font-size: 36px;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

form.user-sign-in input {
  width: 115px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-right: 25px;
}

form.user-sign-in label {
  margin-right: 5px;
}

form.user-sign-in input:hover {
  border: 1px solid #aaa;
}

form.user-sign-in input:focus {
  border: 1px solid #60B2EB;
}

form.user-sign-in button {
  color: white;
  margin-top: 10px;
  display: block;
  padding: 7px 15px;
  background: #38C800;
  border: 1px solid transparent;
}

form.user-sign-in button:hover {
  background: #34B501;
  border: 1px solid #aaa;
}

div.sign-in-content p {
  display: block;
  margin-top: 10px;
}

div.sign-in-content p > a {
  color: blue;
}

div.sign-in-content p > a:hover {
  color: darkblue;
  font-weight: 400;
}
