/* RESET */

h1, h2, h3, h4, html, body, p, a, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #EBF4FF;
  height: 100%;
}
/*http://stackoverflow.com/questions/8473162/how-do-i-set-height-of-container-div-to-100-of-window-height*/

.hidden {
  display: none;
}

/*BEGIN TEAMS INDEX STYLES*/

div.teams-index {
  margin: auto;
}

div.teams-index-title {
  font-size: 24px;
}

/*div.teams-index-list {      PH** do we want this to be centered? prolly not
  float: left;
  position: relative;
  left: 50%;
}

div.teams-index-list-style {
  float: left;
  position: relative;
  left: -50%;
}*/

ul.teams-index-items > li a {
  padding: 20px 10px;    /*PH -- pads inside EL,outside text, does take space */
  margin: 10px;      /*PH -- pads outside ELEMENT */
  text-align: center;
  float: left;
  display: block;
  height: 80px;
  width: 200px;
  background: green;
  font-weight: bold;
  font-size: 18px;
  background: #B3CFF7;
  border-radius: 5px;
}

ul.teams-index-items > li a:hover {
  background: #9CBFF0;
  /*border-bottom: 1px solid #7DA9E6;*/
  border-radius: 5px;
}

div.new-team button {
  white-space: normal;        /*PH - how is whitespace handled inside EL?*/
  box-sizing: content-box;
  outline: none;
  border: none;
  padding: 20px 10px;    /*PH -- pads inside EL,outside text, does take space */
  margin: 10px;      /*PH -- pads outside EL */
  text-align: center;
  float: left;
  display: block;
  height: 80px;
  width: 200px;
  background: green;
  font-weight: bold;
  font-size: 18px;
  background: #B3CFF7;
  border-radius: 5px;
}

div.new-team button:hover {
  background: #9CBFF0;
  border-bottom: 1px solid #7DA9E6;
  border-radius: 2px;
}

/*SIDEBAR STYLES*/

section.sidebar {
  position: relative;
  float: left;
  height: 100%;
  width: 250px;
  background: #D9E1ED;
}

h4.sidebar-title {
  padding-left: 10px;
  font-size: 16px;
}

ul.team-member-items {

}

ul.team-member-items > li {
  display: block;
  height: 16px;
  padding: 4px 20px;
  font-size: 14px;
}

ul.project-items > li {
  display: block;
  height: 16px;
  padding: 4px 20px;
  font-size: 14px;
  /*PH** - stop turning into cursor*/
}

ul.project-items {
}

ul.project-items > li:hover {
  background: #BFCCDF;
}

.clicked-project {
  padding: 0px 20px;
  background: #B4C0D1;
  border-top: 1px solid #9899B5;
  border-bottom: 1px solid #F5F5F5;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /*PH** - how to prevent from adding extra borderline?*/
}

/* MAIN-CONTAINER STYLES */

div.main-container {
  float: left;
  /*PH - need sidebar + main-container float left if want next to each other*/
  display: block;
  position: relative;
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  outline: 1px solid #DEDEDE;
}

/* CENTERPIECE STYLES */

section.centerpiece {
  min-width: 450px;
  width: 50%;           /* PH - remember this is as % of parent element */
  position: relative;
  left: 20px;
  margin: 10px;
  outline: 1px solid #DEDEDE;
  border-top-left-radius: 5px;
}

h3.project-codename {
  font-size: 24px;
  font-weight: normal;
  padding: 5px;
}

ul.task-items {
  outline: 1px solid #D6D6D6;
}

li.task-item {
  height: 33px;
  border-bottom: 1px solid #DEDEDE;
}

li.task-item .task-completion {
  float: left;
  display: block;
  position: relative;
  height: 33px;     /*PH - from source*/
  border-bottom: 1px solid #DEDEDE;
  width: 35px;
  text-align: center;
  line-height: 33px;
}

li.task-item .task-title {
  float: left;
  display: block;
  position: relative;
  width: -moz-calc(100% - 35px);
  width: -webkit-calc(100% - 35px);
  width: calc(100% - 35px);
  font-size: 16px;

  overflow: hidden;     /*PH - from source*/
  margin: 7px 0px;
}
/* PH - make sure this text doesn't wrap!! */
