/* ------------- CENTERPIECE STYLES --------------- */

section.centerpiece {
  min-width: 450px;
  width: 55%;           /* PH - remember this is as % of parent element */
  left: 20px;           /* PH moves to the right, else right against sidebar */
  margin: 10px 0px 10px 10px;
  border: 1px solid #8B9CAF;      /*PH - source*/
  border-top-left-radius: 5px;
}
/* PH**** - need to have this scroll on container overflow. maybe put on ul? */

/* PH** - have below NOT take up whole width of page */
section.single-pane {
  width: 100%;
  margin: 10px;
}

h3.project-codename {
  font-size: 24px;
  padding: 5px;
}

ul.task-items {
}

ul.task-items > li {
  height: 31px;
  border-bottom: 1px solid #DFDFDF;     /*PH - SOURCE*/
}

ul.task-items > li:hover {
  height: 31px;
  border-bottom: 1px solid #C1C1C1;
  /*PH** - this needs to be fixed*/
}

/* Below for both new and existing... */
li .task-completion {
  float: left;
  display: block;
  position: relative;
  height: 31px;     /*PH - from source*/
  width: 35px;
  text-align: center;
}

li div.completion-icon {
  display: block;
  float: left;
  cursor: pointer;
  border: 2px solid #C1C1C1;
  border-radius: 2px;
  padding: 5px;
  margin: 9px 9px 8px 9px;
}

li div.completion-icon:hover {
  border: 2px solid #1F8DD6;
}

li div.completion-icon.completed {
  border: none;
  font-size: 20px;
  padding: 0px;
  margin: 4px 9px 9px 9px;
}

li div.completion-icon.completed:hover {
  color: #1F8DD6;
}

/* Do below for both new and existing tasks... */
/*PH** - REM input doesn't inherit font-family!!*/
/* outline-none disables browser feedback */
ul.task-items li input {
  outline: none;
  font-family: inherit;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 7px 0px;
  border: 0px;
  background: transparent;
  font-size: 14px;
  width: -moz-calc(100% - 35px);
  width: -webkit-calc(100% - 35px);
  width: calc(100% - 35px);
  padding: 0;
}

ul.task-items li.new-task {
  color: grey;
}

ul.task-items .clicked-task {
  background: #DAECFF;
}
/* PH - make sure this text doesn't wrap!! */
