/* ----------- FEATURE STYLES ------------- */

section.feature.zero-height {
  max-height: 0px;
  border: 0px;
}

section.feature.transitioning {
  max-height: 0px;
  /*transition: max-height 0.42 cubic-bezier(0.92, 0.06, 0.86, 0.84);*/
}

section.feature {
  /* PH** - 20px for margin, 40px for "position left", 3px for 3 line borders */
  width: -moz-calc(50% - 63px);
  width: -webkit-calc(50% - 63px);
  width: calc(50% - 63px);

  max-height: -moz-calc(100% - 30px);
  max-height: -webkit-calc(100% - 30px);
  max-height: calc(100% - 30px);

  /*transition: max-height 0.42 cubic-bezier(0.86, 0.04, 0.21, 1.01);*/

  left: 20px;
  margin: 10px 10px 10px 0px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #8B9CAF;
  border-right: 1px solid #8B9CAF;
  border-bottom: 1px solid #8B9CAF;
}

/* resize just lets users resize the box at will -- not what we want */
div.task-details {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

div.task-details textarea {
  resize: none;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  outline: none;
}

/*PH - SOURCE*/
div.task-details textarea:hover {
  border: 1px solid #DDD;
  box-shadow: 0px 0px 5px 0px #DDD;
}

div.task-details textarea:focus {
  border: 1px solid #60B2EB;
  box-shadow: 0px 0px 5px 0px #60B2EB;
}

div.task-details .task-title > textarea {
  font-size: 24px;
}

div.task-details .task-description > textarea {
  font-size: 14px;
}

div.task-details textarea.blank-description {
  color: #C1C1C1;
}
/*PH - source*/

div.comments-index-container {
  padding: 15px 45px 15px 15px;
}

div.task-comments figure {
  margin-right: 10px;
  margin-top: 2.5px;
  float: left;
}

div.task-comments li div.comment-item-text-container {
  display: block;
  float: left;
  width: -moz-calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  line-height: 1.4;
}

li.comments-index-item {
  margin-bottom: 15px;
}

li.comments-index-item p {
  float: left;
  display: block;
  width: 100%;
  float: left;
  font-size: 14px;
}
/* width: 30px avatar (1px border, 28px width), 10px avatar-margin */

li.comments-index-item strong {
  float: left;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}

li.comments-index-item small {
  float: left;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #aaa;
  margin-top: 2px;
}

div.task-comments form.new-comment {
  background: #F5F9FC;
  padding: 15px;
}

form.new-comment figure {
  float: left;
}

div.task-comments textarea {
  float: left;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
}

div.task-comments form button {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
}
