<!-- <div class="user-container">
  <ul class="user-container-items">
    <li class="user-name">
      <% if logged_in? %>
        <div class="user-name-display"><%= current_user.email %></div>
      <% end %>
    </li>
    <li class="sign-out">
      <% if logged_in? %>
        <%= button_to "Sign out", session_url, method: :delete, class: "sign-out-button" %>
      <% end %>
    </li>
  </ul>
</div> -->
